<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
    <style>
       
    </style>
</head>
<body>
    <h1>Cadastro de Ramais</h1>
    <form action="/add-ramal" method="POST">
     <label for="nome">Nome</label>
     <input type="text" name="nome"><br><br>
     <label for="valor">Numero</label>
    <input type="text" name="valor"><br><br>
    <button type="submit"> Cadastrar</button>
    <a href="/">Voltar</a>
    </form>
</body>
</html>