<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Falha</h1>
    <p>Caso o problema persistir entre em contato com a TI</p>
        <p>ERRO: {{erro}}</p>
        <a href="cad-ramal">tentar novamente</a>
        <a href="/">buscar ramal</a>
</body>
</html>