<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

     <style>
                    *{
                text-decoration: none;
                font-family: 'Roboto', sans-serif;
                outline: none;
            }
            #titulo{
                color: #06c210;
                text-align: center;
                display: column;
                font-size: 1.5em;
            }
            form{
                display: flex;
                align-items: center;
                flex-direction: column;
            }
            table{
                border: #ffffff 1px solid;
                width: 40%;
                min-width: 30em;
                padding: 1em;
                background-color: #fffaf01c;
                border-radius: 10px;
                color: #0bfa17;
            }
            body{
                color: floralwhite;
                background: url('/img/bg.png');
                background-size: auto;
                display: flex;
                align-items: center;
                flex-direction:column;

            }
            a{
                color: snow;
                padding: 2em;
            }
            svg{
                width: 1em;
            }
            section{
                margin-top: 10em;
                border: 1px solid white;
                border-radius: 8px;
                background: #56585a70;
                
            }
            input{
                width: 20em;
                height: 2em;
                margin: 3em 6em 0em 6em;
                background: none;
                border: none;
                border-bottom: white solid 1px;
                color: snow;
                
            }
            button{
                padding: 1em;
                background-color:  #06c210;
                border: none;
                border-radius: 20px;
                color: snow;
                font-size: 0.8em;
                cursor: pointer;
            }
            button:hover{
                background-color:  #34ec3d;
                color: #686868;
            }
            a:hover{
                color: #686868;
            }
            label {
            font-size: 0.8em;
            text-align: start;
            }

     </style>
</head>
<body>
    
    <form action="/edit" method="POST">
     <label for="id">ID: {{id}}</label>
     <input type="text" name="id" value={{id}} style="display: none;"><br><br>
     <label>Nome atual: {{nome}}</label>
     <label for="nome">Novo nome</label>
     <input type="text" name="nome"><br><br>
     <label>Numero atual: {{valor}}</label>
     <label for="valor">Novo numero</label>
    <input type="text" name="valor"><br><br>
   
   <button type="submit">ALTERAR</button>
    
    <a href="/">Voltar</a>
    </form>
</body>
</html>